#total{
	overflow: hidden;
	position: relative;
	margin: auto;
	height: 100%;
	width: 80%;
}
#content{
	float: right;
	background-color: white;
	width: 70%;
	/*margin: auto;
	height: 100%;*/
}
#left{
	float: left;
	width: 25%;
}
.title_banner{
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: #65a4fa;
	color: white;
	
	text-align: center;
	font-size: 1.5em;

}
#information1{
	display: inline-block;
	float: right;
	width: 75%;
	height: 100%;

}


/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-04-22 23:36:46
 * @version $Id$
 */
