@charset "UTF-8";
html{
	background-color: pink;
	font-size: 20px;


}
li{
	background-color: blue;
	font-style:italic;

}
ul{
	list-style: square;
}
h1{
	text-align: center;
	color: red;
	text-shadow: 1px 1px black;
	}
#banner{
	font-size: 25px;
	font-weight: bolder;
	color: blue;
}
.detail{
	background-color: yellow;
	font-size: 15px;
}
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-04-17 09:53:40
 * @version $Id$
 */
