@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-04-25 17:27:14
 * @version $Id$
 */
 #father{
 	padding: 0px;
 	margin: 0px;
 	height: 100px;
 	width: 100%;
 	background-color: red;
	
}
#left{
	padding: 0px;
 	margin: 0px;
	position: flex;
	height: 100%;
	width: 30%;
	display: inline-block;
	background-color: blue;

}
#right{
	padding: 0px;
 	margin: 0px;
	position: flex;
	height: 100%;
	width: 69%;
	display: inline-block;
	background-color: yellow;
}
